//header
$background-header-medium: #22967F;

//serie
$background-imagem: #000;
$title-seriedetalhada-red: #FF0000;
$title-seriedetalhada-black: #000;

// input
$border-color: #19D3AF;
$hover: #22967F;