@import '../../../../styles/abstracts/functions';
@import '../../../../styles/abstracts/variables';

.input-filter{
    display: flex;
    justify-content: center;
    >.filter{
        position: fixed;
        z-index: 1000;
        width:  get-vw-desktop(1300px);
        height: get-vw-desktop(50px);
        border: get-vw-desktop(2px) solid black;
        font-family: 'Sunflower', sans-serif;

        &.-filtersize16pt{
            font-size: 16pt;
        }

        &.-filtercolorgreen{
            border-color: $border-color;
            color: $border-color;
        }

        &.-filterborderadius{
            border-radius: get-vw-desktop(5px);
        }

        &:hover{
            border-color: $hover;
        }
    }
}