@import '../../../styles/abstracts/functions';

.container-series{
    display: flex;
    flex-flow: column;
    align-items: center;
    >.series{
        .containerimagem{
            display: flex;
            position: relative;
            top: get-vw-desktop(100px);
            margin-right: get-vw-desktop(20px);
            margin-top: get-vw-desktop(10px);
            margin-bottom: get-vw-desktop(10px);
        
            >.imagem{
                width: get-vw-desktop(200px);
                height: get-vw-desktop(350px);
                cursor:pointer;
            }

            >.imagem-transition{
                transition: color 1s ease-out;
            }
        }

        .containerblack{
            background-color: black;
        }
    }

    .load{
        z-index: 1000;
    }
}

