<div class="container-series">
    <div class="d-flex flex-row row justify-content-center series">
        <div *ngFor="let serie of series">
            <div (click)="trasSerieDetalhada(serie.imdb_id)" 
                class="containerimagem containerblack" id="{{serie.title}}"
                [@serieAppeared]="seriesState"
            >
                <img src="{{serie.images.poster}}" class="imagem imagem-transition" appZoomOnHover>
            </div>
        </div>
    </div>
    <button class="load btn btn-primary" (click)="loadMoreMethod()" type="button">Load More</button>
</div>

      
      