<header class="fixed-top header-component">
    <nav class="navbar navigation -backgroundgreensoft">
        <a class="navbar-brand title" [routerLink]="['series']">Popcorn</a>

        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle mr-1 title"></i>
            <a class="mr-1 title">{{ user.name}}</a>
            <a class="logout title" (click)="logout()">(Logout)</a>
        </div>

        <ng-template #login>
            <span class="title">
                <a class="title" [routerLink]="['']">Please, login!</a>
            </span>
        </ng-template> 

    </nav>
</header>