@import '../../../styles/abstracts/functions';
@import '../../../styles/abstracts/variables';

.header-component{
    >.navigation{
        &.-backgroundgreensoft{
            background-color: $background-header-medium;
        }

        .title{
            cursor: pointer;
            color: #fff;
        }

        .logout{
            cursor: pointer;
        }
    }
}